<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>登录：测试发布平台</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css" />
    
<meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class=" login"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

        <!-- Header -->
        <div id="header">
            <div id="branding">
    
                    <div style="text-align: center;">        
    <h1 id="site-name"><a href="/admin/">用户登录</a></h1>
    
            </div>
            
        </div>
        <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colM">
              
<div id="content-main">

<form action="/login_action/" method="post" id="login-form">
  <div class="form-row">
    
    <label class="required" for="username">用户名称:</label> <input type="text" name="username" autofocus maxlength="254" required id="username" placeholder="请输入用户名" />
  </div>
  <div class="form-row">
    
    <label class="required" for="password">登录密码:</label> <input type="text" name="password" required id="password" placeholder="请输入密码" />
    <input type="hidden" name="next" value="/admin/" />
  </div>
  {{ error }}<br>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="登录" />
  {% csrf_token %}
  </div>
</form>
</div>
        <br class="clear" />
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>
